.experience h3 {
  text-align: center;
  margin: 0 auto;
}

.experience-skill > progress.mg-item {
  margin: 4px 20px;
  width: 40%;
}

.experience-exp > div.mg-item {
  width: 40%;
  /* margin: 7px 7px 15px 30px; */
  font-weight: bold;
}
